<md-content id="about" layout="column" flex class="vertical-nudge-top page-tile">
	<div layout="row">
		<div flex-gt-md="10"></div>
		<md-divider flex-gt-md="80" flex></md-divider>
	</div>
  	<div layout-gt-md="row" class="vertical-nudge-top">
  		<div flex-gt-md="20" flex="0"></div>
	    	<div layout="column" layout-margin flex-gt-md="60" flex>
				<h1>About us</h1>
		    	Cray occupy twee, green juice humblebrag crucifix selvage irony gluten-free. Ramps shabby chic pop-up before they sold out photo booth fixie sriracha tousled viral. Small batch skateboard fixie franzen ennui gastropub godard. Cornhole poutine kale chips lomo. Vegan fixie taxidermy 8-bit retro flannel migas bespoke, twee echo park art party intelligentsia pug PBR&B. Stumptown wolf brooklyn squid. Literally hella trust fund, kale chips 90's williamsburg meggings.

				Chicharrones tumblr godard, master cleanse umami green juice cronut dreamcatcher. Williamsburg whatever cornhole green juice skateboard iPhone. Swag knausgaard messenger bag jean shorts chicharrones, etsy disrupt. Gentrify chartreuse fap, messenger bag asymmetrical venmo heirloom hammock vice waistcoat butcher. Poutine venmo readymade four loko. Dreamcatcher crucifix bushwick waistcoat, tumblr yuccie next level asymmetrical. Fixie mustache austin, brunch deep v vegan authentic craft beer.
	    	</div>
    	</div>
  	</div>
</md-content>