<div ng-if="competenceProfiles" layout="row" layout-padding layout-margin flex>
    <div flex-gt-md="10" />
    <div ng-if="competenceProfiles.length == 0" flex-gt-md="70" class="center" layout="column" layout-padding>
        <md-icon class="material-icons md-icons-empty-state md-huge md-inactive">folder_special</md-icon>
        <md-header class="md-inactive">No competence profiles here...</md-header>
    </div>
    <div ng-if="competenceProfiles.length > 0" class="vertical-nudge-top" flex-gt-md="70">
        <md-header>Competence profiles</md-header>
        <md-card>
            <md-list-item  class="md-3-line secondary-button-padding" ng-repeat="competenceProfile in competenceProfiles" ng-click="editCompetenceProfile(competenceProfile)">
                <md-icon class="material-icons avatar">folder_special</md-icon>
                <div class="md-list-item-text" >
                    <h3> {{ competenceProfile.name }}</h3>
                </div>
            </md-list-item>
        </md-card>
    </div>

    <div flex layout="row" layout-align="end">
        <md-button class="md-fab md-accent animate animate-quick grow spin" ng-click="newCompetenceProfile()" aria-label="New CompetenceProfile">
            <md-icon class="material-icons md-light">add</md-icon>
        </md-button>
    </div>
</div>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <div ng-if="selected" ui-view="editcompetenceprofile"/>
</md-sidenav>