<md-toolbar class="md-hue-2">
	<div  layout="column" ng-if="profile">

		<div layout="row" flex layout-padding >
	        <div flex layout="row" layout-align="end">
	          
	        </div>
	        <div flex="60" layout="row" layout-align="center center">
	            <img ng-if="profile.profilepicture" ng-style="{'background':'url(' + imgData + ')'}" class="circle bordered profilepicture"></img>
				<div ng-if="!profile.profilepicture" class="circle bordered img-placeholder">
					<md-icon class="material-icons md-72 img-placeholder">image</md-icon>
				</div>
	        </div>
	        <div flex="20" layout="row" layout-align="end">
	            <md-button ng-if="hasParent" class="md-button-small" ng-click="cancelProfile()">
	                <md-icon class="material-icons md-light md-24">arrow_back</md-icon>
	            </md-button>
	        </div>
	        

	    </div>
		<md-list-item class="md-3-line">
	      <div class="md-list-item-text">
	      		
		        <h3 layout="row" layout-align="center center">{{profile.firstname}} {{profile.lastname}}</h3>
		        <p layout="row" layout-align="center center">{{profile.position}}</p>
	      </div>
	    </md-list-item>
	</div>
</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom md-selected="tabIndex">
	<md-tab label="Contact">
		<md-list class="md-dense vertical-nudge-top" flex>
			<md-list-item ng-click="openGoogleMaps()">
				<md-icon class="material-icons md-24">place</md-icon>
				<p >{{profile.address}}, {{ profile.zipcode }} {{ profile.city }}. {{ profile.country }}</p>
		    </md-list-item>
		    <md-list-item ng-click="phoneCall(profile.mobilephone)">
		    	<md-icon class="material-icons md-24">phone_iphone</md-icon>
		        <p >{{ profile.mobilephone }}</p>	
			</md-list-item>
			<md-list-item ng-click="phoneCall(profile.phone)">
		    	<md-icon class="material-icons md-24">phone</md-icon>
		        <p >{{ profile.phone }}</p>	
			</md-list-item>
			<md-list-item ng-click="email()">
		    	<md-icon class="material-icons md-24">email</md-icon>
		        <p >{{ profile.email }}</p>	
			</md-list-item>
		</md-list>

	</md-tab>
	<md-tab label="About">
		<md-list class="md-dense vertical-nudge-top" flex>
			<md-list-item class="md-3-line ">
				
		    	
		    	<div class="md-list-item-text">
			        <h3 >About me</h3>	
			        
			        <p>{{profile.description}}</p>
		    	</div>
			</md-list-item>
		</md-list>
	</md-tab>
	<md-tab label="Profiles">
		<md-list class="md-dense vertical-nudge-top" flex>
			<md-list-item  ng-repeat="competenceProfile in competenceProfiles" ng-click="showCompetenceProfile(competenceProfile)">
		    	<md-icon class="material-icons avatar">folder_special</md-icon>
      			<p> {{ competenceProfile.name }}</p>
      			<md-icon ng-if="hasParent" class="md-secondary material-icons avatar" ng-click="setCompetenceProfile(competenceProfile)" aria-label="setCandidate">
      				group_add
      				<md-tooltip>Add to resource request</md-tooltip>
      			</md-icon>
		  	</md-list-item>
	  	</md-list>
	</md-tab>
</md-tabs>