
<div class="full-height" layout="column" ng-if="!education" flex>
	
	<md-list ng-cloak>
		<div layout="row">
		  	<md-subheader  flex class="md-no-sticky">{{title}}</md-subheader>
		  	<md-button ng-if="!education" class="md-fab md-accent" ng-click="newEducation()" aria-label="New Education">
		        <md-icon class="material-icons md-light">add</md-icon>
		    </md-button>
		</div>
	  	<md-list-item class="md-3-line secondary-button-padding" ng-repeat="education in educations" ng-click="editEducation(education)">
	    	<md-icon class="material-icons avatar">school</md-icon>
    		<div class="md-list-item-text" >
      			<h3> {{ education.title }} - {{ education.education }} </h3>
      			<p> {{ education.school }}</p>
      			<p ng-if="education.startdate || education.enddate"> {{education.startdate | date : 'yyyy-MM'}} - {{education.enddate | date : 'yyyy-MM'}} </p>
    		</div>
	  	</md-list-item>

	</md-list>
</div>
<div layout="column" class="full-height" flex ng-if="education" >
	<div flex layout="row" class="skill-header">
		<span flex="33">
			<md-button class="md-button-small" ng-click="cancelEducation()">
				<md-icon class="material-icons">arrow_front</md-icon>
			</md-button>
			<span flex/>
		</span>
		<md-icon flex="33" class="material-icons md-72 center">school</md-icon>
		<span flex/>
        <md-button class="md-button-small" ng-click="deleteRecord()">
            <md-icon class="material-icons">delete</md-icon>
        </md-button>
	</div>
	<form flex layout-margin layout-padding flex ng-submit="saveEducation()" name="educationForm">
		
		<md-autocomplete flex required
            md-input-name="titleAutoComplete"
            md-min-length="0"
            md-input-maxlength="64"
            md-input-minlength="0"
            md-no-cache="false"
            md-selected-item="selectedTitle"
            md-search-text="titleSearchText"
            md-items="item in titleQueryFilter(titleSearchText)"
            md-item-text="item.display"
            md-floating-label="{{titleLabel}}"
            md-selected-item-change="titleSelectChanged(item)"
            md-search-text-change="titleSearchTextChanged(titleSearchText)"
            md-select-on-match="true">
          <md-item-template>
            <span md-highlight-text="titleSearchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
        </md-autocomplete>
        <md-autocomplete flex required
            md-input-name="educationAutoComplete"
            md-min-length="0"
            md-input-maxlength="64"
            md-input-minlength="0"
            md-no-cache="false"
            md-selected-item="selectedEducation"
            md-search-text="educationSearchText"
            md-items="item in educationQueryFilter(educationSearchText)"
            md-item-text="item.display"
            md-floating-label="{{educationLabel}}"
            md-selected-item-change="educationSelectChanged(item)"
            md-search-text-change="educationSearchTextChanged(educationSearchText)"
            md-select-on-match="true">
          <md-item-template>
            <span md-highlight-text="educationSearchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
        </md-autocomplete>	
        <md-autocomplete flex required
            md-input-name="schoolAutoComplete"
            md-min-length="0"
            md-input-maxlength="64"
            md-input-minlength="0"
            md-no-cache="false"
            md-selected-item="selectedSchool"
            md-search-text="schoolSearchText"
            md-items="item in schoolQueryFilter(schoolSearchText)"
            md-item-text="item.display"
            md-floating-label="{{schoolLabel}}"
            md-selected-item-change="schoolSelectChanged(item)"
            md-search-text-change="schoolSearchTextChanged(schoolSearchText)"
            md-select-on-match="true">
          <md-item-template>
            <span md-highlight-text="schoolSearchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
        </md-autocomplete>
		
		<md-input-container class="md-block md-icon-float">
			<label>{{descriptionLabel}}</label>
			<textarea rows="6" md-maxlength="512" type="text" name="description" ng-model="education.description"></textarea>
		</md-input-container>
        <div layout="row">

    		<am-date-picker flex ng-model="education.startdate"
                    am-input-date-format="L"
                    am-input-label="{{startdateLabel}}"
                    am-today-button="Today"
                    am-show-input-icon="true">
            </am-date-picker>
            <am-date-picker flex ng-model="education.enddate"
                am-input-date-format="L"
                am-input-label="{{enddateLabel}}"
                am-today-button="Today"
                am-show-input-icon="true">
            </am-date-picker>
        </div>
		<div layout="row" class="vertical-nudge-top">
            <div flex="33" flex="20"></div>
            <md-button  flex-gt-md="33" flex="60" type="submit" class="md-raised md-primary" flex>Save</md-button>
        </div>
	</form>

</div>