<md-toolbar class="md-hue-2 md-toolbar-grande" layout="column">
    <div layout="row" flex layout-padding >
        <div flex="20">
            <md-button class="md-button-small" ng-click="cancel()">
                <md-icon class="material-icons md-light md-24">arrow_forward</md-icon>
            </md-button>
        </div>
        <div flex="60" layout="row" layout-align="center center">
            <md-icon class="material-icons md-light md-72 center vertical-nudge-top">star</md-icon>
        </div>
        <div flex layout="row" layout-align="end">
            <md-button ng-if="experience.idexperience" class="md-button-small" ng-click="deleteRecord()">
                <md-icon class="material-icons md-light">delete</md-icon>
            </md-button>
        </div>
  
    </div>
    
    <md-list-item class="md-2-line">
      <div class="md-list-item-text">
            <h3 layout="row" ng-if="experience.idexperience" layout-align="center center">{{experience.name}}</h3>
            <h3 layout="row" ng-if="!experience.idexperience" layout-align="center center">Add experience</h3>
      </div>
    </md-list-item> 
</md-toolbar>

<form flex layout-margin layout-padding flex ng-submit="saveExperience()" name="ExperienceForm">
		
	<md-autocomplete flex required
        md-input-name="nameAutoComplete"
        md-min-length="0"
        md-input-maxlength="64"
        md-input-minlength="0"
        md-no-cache="false"
        md-selected-item="selectedName"
        md-search-text="nameSearchText"
        md-items="item in nameQueryFilter(nameSearchText)"
        md-item-text="item.display"
        md-floating-label="{{nameLabel}}"
        md-selected-item-change="nameSelectChanged(item)"
        md-search-text-change="nameSearchTextChanged(nameSearchText)"
        md-select-on-match="true">
      <md-item-template>
        <span md-highlight-text="nameSearchText" md-highlight-flags="^i">{{item.display}}</span>
      </md-item-template>
    </md-autocomplete>	
	
	<md-input-container class="md-block md-icon-float">
		<label>{{descriptionLabel}}</label>
		<textarea rows="6" md-maxlength="512" type="text" name="description" ng-model="experience.description"></textarea>
	</md-input-container>
	
	<div layout="row">

		<am-date-picker flex ng-model="experience.startdate"
                am-input-date-format="L"
                am-input-label="{{startdateLabel}}"
                am-today-button="Today"
                am-show-input-icon="true">
        </am-date-picker>
        <am-date-picker flex ng-model="experience.enddate"
            am-input-date-format="L"
            am-input-label="{{enddateLabel}}"
            am-today-button="Today"
            am-show-input-icon="true">
        </am-date-picker>
    </div>
	<div layout="row" class="vertical-nudge-top">
        <div flex="33" flex="20"></div>
        <md-button  flex-gt-md="33" flex="60" type="submit" class="md-raised md-primary" flex>Save</md-button>
    </div>
</form>