
<md-whiteframe class="md-whiteframe-2dp full-height" layout="column" flex>
	
	
	<md-list ng-cloak>
		<div layout="row">
		  	<md-subheader  flex class="md-no-sticky">{{title}}</md-subheader>
		  	<md-button ng-if="!Experience" class="md-fab md-accent" ng-click="newExperience()" aria-label="New Experience">
		        <md-icon md-font-icon="fa-plus" class="fa fa-lg white" ></md-icon>
		    </md-button>
		</div>
	  	<md-list-item class="md-3-line secondary-button-padding" ng-repeat="experience in experiences" ng-click="editExperience(experience)">
	    	<md-icon md-font-icon="fa-certificate" class="fa fa-lg avatar md-avatar-icon"></md-icon>
    		<div class="md-list-item-text" >
      			<h3> {{ experience.name }} </h3>
      			<p> {{ experience.description }}</p>
      			<p ng-if="experience.startdate || experience.enddate"> {{ experience.startdate | date : 'yyyy-MM'}} - {{experience.enddate | date : 'yyyy-MM'}} </p>
    		</div>
	  	</md-list-item>

	</md-list>
</md-whiteframe>
<md-whiteframe class="md-whiteframe-2dp" layout="column"  flex="50" ng-if="experience" >
	<div flex layout="row" class="skill-header">
		<span flex="33">
			<md-button class="md-button-small" ng-click="cancelExperience()">
				<md-icon md-font-icon="fa-arrow-right" class="fa"></md-icon>
			</md-button>
			<span flex/>
		</span>
		<md-icon flex="33" md-font-icon="fa-certificate center" class="fa fa-3x"></md-icon>
		<span flex/>
        <md-button class="md-button-small" ng-click="deleteRecord()">
            <md-icon md-font-icon="fa-trash-o" class="fa fa-lg"></md-icon>
        </md-button>
	</div>
	<form flex layout-margin layout-padding flex ng-submit="saveExperience()" name="ExperienceForm">
		
		<md-autocomplete flex required
            md-input-name="nameAutoComplete"
            md-min-length="0"
            md-input-maxlength="64"
            md-input-minlength="0"
            md-no-cache="false"
            md-selected-item="selectedName"
            md-search-text="nameSearchText"
            md-items="item in nameQueryFilter(nameSearchText)"
            md-item-text="item.display"
            md-floating-label="{{nameLabel}}"
            md-selected-item-change="nameSelectChanged(item)"
            md-search-text-change="nameSearchTextChanged(nameSearchText)"
            md-select-on-match="true">
          <md-item-template>
            <span md-highlight-text="nameSearchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
        </md-autocomplete>	
		
		<md-input-container class="md-block md-icon-float">
			<label>{{descriptionLabel}}</label>
			<textarea rows="6" md-maxlength="512" type="text" name="description" ng-model="experience.description"></textarea>
		</md-input-container>
		
		<div layout="row">

    		<am-date-picker flex ng-model="experience.startdate"
                    am-input-date-format="L"
                    am-input-label="{{startdateLabel}}"
                    am-today-button="Today"
                    am-show-input-icon="true">
            </am-date-picker>
            <am-date-picker flex ng-model="experience.enddate"
                am-input-date-format="L"
                am-input-label="{{enddateLabel}}"
                am-today-button="Today"
                am-show-input-icon="true">
            </am-date-picker>
        </div>
		<div layout="row" class="vertical-nudge-top">
            <md-button type="submit" class="md-raised md-primary" flex>Save Experience</md-button>
      	</div>
	</form>
	<div flex/>
</div>