
<div class="full-height" layout="column" flex ng-if="!language">
	
	
	<md-list ng-cloak>
		<div layout="row">
		  	<md-subheader  flex class="md-no-sticky">{{title}}</md-subheader>
		  	<md-button ng-if="!language" class="md-fab md-accent" ng-click="newLanguage()" aria-label="New Language">
		        <md-icon md-font-icon="fa-plus" class="fa fa-lg white" ></md-icon>
		    </md-button>
		</div>
	  	<md-list-item ng-repeat="language in languages" ng-click="editLanguage(language)">
	    	<md-icon md-font-icon="fa-comment-o" class="fa fa-lg avatar md-avatar-icon"></md-icon>
    		<!-- <div class="md-list-item-text" > -->
      			<h3> {{ language.language }} </h3>
    		<!-- </div> -->
            <span flex/>
	  	</md-list-item>

	</md-list>
</div>
<div class="full-height" layout="column" flex ng-if="language">
	<div flex layout="row" class="skill-header">
		<span flex="33">
			<md-button class="md-button-small" ng-click="cancelLanguage()">
				<md-icon md-font-icon="fa-arrow-right" class="fa"></md-icon>
			</md-button>
			<span flex/>
		</span>
		<md-icon flex="33" md-font-icon="fa-comment-o center" class="fa fa-3x"></md-icon>
		<span flex/>
        <md-button class="md-button-small" ng-click="deleteRecord()">
            <md-icon md-font-icon="fa-trash-o" class="fa fa-lg"></md-icon>
        </md-button>
	</div>
	<form flex layout-margin layout-padding flex ng-submit="saveLanguage()" name="LanguageForm">
		
		<md-autocomplete flex required
            md-input-name="languageAutoComplete"
            md-min-length="0"
            md-input-maxlength="64"
            md-input-minlength="0"
            md-no-cache="false"
            md-selected-item="selectedLanguage"
            md-search-text="languageSearchText"
            md-items="item in languageQueryFilter(languageSearchText)"
            md-item-text="item.display"
            md-floating-label="{{languageLabel}}"
            md-selected-item-change="languageSelectChanged(item)"
            md-search-text-change="languageSearchTextChanged(languageSearchText)"
            md-select-on-match="true">
          <md-item-template>
            <span md-highlight-text="languageSearchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
        </md-autocomplete>	
		
		<md-input-container class="md-block">
            <label>{{listeningLabel}}</label>
            <md-select ng-model="language.listening" flex>
              <md-option ng-repeat="level in levels" value="{{level.level}}">
                {{level.level}}
              </md-option>
            </md-select>
            <md-tooltip>Rate yourself from lowest A1 to highest C2.</md-tooltip>
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{writingLabel}}</label>
            <md-select ng-model="language.writing" flex>
              <md-option ng-repeat="level in levels" value="{{level.level}}">
                {{level.level}}
              </md-option>
            </md-select>
            <md-tooltip>Rate yourself from lowest A1 to highest C2.</md-tooltip>
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{readingLabel}}</label>
            <md-select ng-model="language.reading" flex>
              <md-option ng-repeat="level in levels" value="{{level.level}}">
                {{level.level}}
              </md-option>
            </md-select>
            <md-tooltip>Rate yourself from lowest A1 to highest C2.</md-tooltip>
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{conversationLabel}}</label>
            <md-select ng-model="language.conversation" flex>
              <md-option ng-repeat="level in levels" value="{{level.level}}">
                {{level.level}}
              </md-option>
            </md-select>
            <md-tooltip>Rate yourself from lowest A1 to highest C2.</md-tooltip>
        </md-input-container>
        <md-input-container class="md-block">
            <label>{{verbalLabel}}</label>
            <md-select ng-model="language.verbal" flex>
              <md-option ng-repeat="level in levels" value="{{level.level}}">
                {{level.level}}
              </md-option>
            </md-select>
            <md-tooltip>Rate yourself from lowest A1 to highest C2.</md-tooltip>
        </md-input-container>

		<div layout="row" class="vertical-nudge-top">
            <div flex="33" flex="20"></div>
            <md-button  flex-gt-md="33" flex="60" type="submit" class="md-raised md-primary" flex>Save</md-button>
        </div>
	</form>
	
</div>