<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="start">KnowBase</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#news">News</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="login"><i class="fa fa-sign-in fa-lg"></i> Login</a></li>
            </ul>
        </div>
    </div>
</nav>