<header ui-view="toolbar"></header>
<md-content flex-gt-sm layout="row" layout-margin-layout-padding>
	<md-sidenav class="md-sidenav-left md-whiteframe-z2 full-height" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar class="md-hue-2">
			<div layout="row" class="vertical-nudge-top">
				<div flex="50"></div>
				<div flex>
					<md-button md-theme="grey" ng-click="uploadPicture($event)" class="md-primary md-fab btn-huge">
						<img class="circle bordered" id="profilepicture"></img>
						<md-icon md-font-icon="fa-picture-o" class="fa fa-3x white"></md-icon>
					</md-button>
				</div>
				
			</div>
			<md-list-item class="md-3-line">
		      <div class="md-list-item-text">
		      		
			        <h3 layout="row" layout-align="center center">{{profile.firstname}} {{profile.lastname}}</h3>
			        <p layout="row" layout-align="center center">{{profile.position}}</p>
		      </div>
		    </md-list-item>
		</md-toolbar>
		<form flex ng-submit="updateProfile()" name="profileForm">
			<md-tabs md-dynamic-height md-border-bottom md-selected="tabIndex">
				<md-tab label="Details">
					<div layout="column" layout-margin>
						<md-input-container flex class="md-block">
							<label>First name</label>
							<input md-maxlength="32" type="text" name="firstname" ng-model="profile.firstname" required>
						</md-input-container>
						
						<md-input-container flex class="md-block">
							<label>Last name</label>
							<input md-maxlength="32" type="text" name="lastname" ng-model="profile.lastname" required>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Position</label>
							<input md-maxlength="128" type="text" name="position" ng-model="profile.position">
						</md-input-container>
						<md-input-container class="md-block">
							<label>About</label>
							<textarea md-maxlength="4000" rows="6" type="text" name="position" ng-model="profile.description" />
						</md-input-container>
						<div layout="row" layout-align="center center">
							<am-date-picker ng-model="profile.birthdate"
						                am-input-date-format="L"
						                am-input-label="Birthdate"
						                am-today-button="Today"
						                am-show-input-icon="true" >
							</am-date-picker>
						</div>
					</div>
				</md-tab>
				<md-tab layout-margin label="Contact info">
					<div layout="column" layout-margin>
						<md-input-container flex class="md-block">
							<label>Phone</label>
							<input md-maxlength="16" type="tel" name="phone" ng-model="profile.phone">
						</md-input-container>
						
						<md-input-container flex class="md-block">
							<label>Mobile phone</label>
							<input md-maxlength="16" type="tel" name="mobilephone" ng-model="profile.mobilephone">
						</md-input-container>

						<md-input-container class="md-block">
							<label>Address</label>
							<input md-maxlength="72" type="text" name="address" ng-model="profile.address">
						</md-input-container>

						<md-input-container flex class="md-block">
							<label>Zipcode</label>
							<input md-maxlength="32" type="text" name="zipcode" ng-model="profile.zipcode">
						</md-input-container>

						<md-input-container flex class="md-block">
							<label>City</label>
							<input md-maxlength="32" type="text" name="city" ng-model="profile.city">
						</md-input-container>
						
						<md-input-container flex class="md-block">
							<label>Country</label>
							<input md-maxlength="32" type="text" name="country" ng-model="profile.country">
						</md-input-container>
					</div>
				</md-tab>	
			</md-tabs>
		
			<div layout="row" class="vertical-nudge-top">
	        	<div flex-gt-md="33" flex="20"></div>
	            <md-button type="submit" class="md-raised md-primary" flex-gt-md="33" flex="60">Update profile</md-button>
	      	</div>
	    </form>
    </md-sidenav>
    <div flex ui-view="competenceprofiles" />
    
</md-content>	