

<div class="full-height" layout="column" flex ng-if="!publication">
	
	
	<md-list ng-cloak>
		<div layout="row">
		  	<md-subheader  flex class="md-no-sticky">{{title}}</md-subheader>
		  	<md-button ng-if="!publication" class="md-fab md-accent" ng-click="newPublication()" aria-label="New publication">
		        <md-icon md-font-icon="fa-plus" class="fa fa-lg white" ></md-icon>
		    </md-button>
		</div>
	  	<md-list-item class="md-3-line secondary-button-padding" ng-repeat="publication in publications" ng-click="editPublication(publication)">
	    	<md-icon md-font-icon="fa-book" class="fa fa-lg avatar md-avatar-icon"></md-icon>
    		<div class="md-list-item-text" >
      			<h3> {{ publication.title }} </h3>
      			<p> {{ publication.description }}</p>
      			<p> {{ publication.date | date : 'yyyy-MM' }}</p>
    		</div>
	  	</md-list-item>

	</md-list>
</div>

<div class="full-height" layout="column" flex ng-if="publication">
	<div flex layout="row" class="publication-header">
		<span flex="33">
			<md-button class="md-button-small" ng-click="cancelPublication()">
				<md-icon md-font-icon="fa-arrow-right" class="fa"></md-icon>
			</md-button>
			<span flex/>
		</span>
		<md-icon flex="33" md-font-icon="fa-book center" class="fa fa-3x"></md-icon>
		<span flex/>
        <md-button ng-if="publication.idpublication" class="md-button-small" ng-click="deleteRecord()">
            <md-icon md-font-icon="fa-trash-o" class="fa fa-lg"></md-icon>
        </md-button>
	</div>
	<form flex layout-margin layout-padding flex ng-submit="savePublication()" name="PublicationForm">
		
		<md-autocomplete flex required
            md-input-name="titleAutoComplete"
            md-min-length="0"
            md-input-maxlength="64"
            md-input-minlength="0"
            md-no-cache="false"
            md-selected-item="selectedTitle"
            md-search-text="titleSearchText"
            md-items="item in titleQueryFilter(titleSearchText)"
            md-item-text="item.display"
            md-floating-label="{{titleLabel}}"
            md-selected-item-change="titleSelectChanged(item)"
            md-search-text-change="titleSearchTextChanged(titleSearchText)"
            md-select-on-match="true">
          <md-item-template>
            <span md-highlight-text="titleSearchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
        </md-autocomplete>	
		
		<md-input-container class="md-block md-icon-float">
			<label>{{descriptionLabel}}</label>
			<textarea rows="6" md-maxlength="512" type="text" name="description" ng-model="publication.description"></textarea>
		</md-input-container>

        <md-input-container class="md-block md-icon-float">
            <label>{{authorLabel}}</label>
            <textarea rows="6" md-maxlength="4000" type="text" name="authors" ng-model="publication.authors"></textarea>
        </md-input-container>
		
		<am-date-picker flex ng-model="publication.date"
            am-input-date-format="L"
            am-input-label="{{dateLabel}}"
            am-today-button="Today"
            am-show-input-icon="true">
        </am-date-picker>
		
        <md-input-container class="md-block md-icon-float">
            <label>{{publicationLabel}}</label>
            <input md-maxlength="128" type="text" name="publication" ng-model="publication.publication">
        </md-input-container>

		<div layout="row" class="vertical-nudge-top">
            <md-button type="submit" class="md-raised md-primary" flex>Save publication</md-button>
      	</div>
	</form>
</div>