<md-toolbar md-theme="grey" class="md-primary">
  <div class="md-toolbar-tools">
   
    <div flex-gt-sm="30" flex="20">
      <md-button ng-click="back()">
        <md-icon class="material-icons" >arrow_back</md-icon>
      </md-button> 
    </div>
    <div layout="row" flex-gt-sm="40" flex="90">
      <md-input-container class="search-input slide-right" ng-class="animation" flex>
        <input type="text" ng-change="search()" ng-model="searchval" autofocus>
      </md-input-container>
      <md-icon class="material-icons md-36">search</md-icon>
    </div>

  </div>
</md-toolbar>

<md-content flex-gt-sm layout="column" layout-margin-layout-padding class="full-height">
    <div layout="row">
      <div flex-gt-sm="20"/>
      <md-switch ng-model="groupProfiles" aria-label="groupSwitch">
        Group by profiles
      </md-switch>
    </div>
    <div layout="row">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2 full-height" md-component-id="left" set-class-when-at-top="fix-to-top">
        <div ng-if="idprofile"  ui-view="details" />
        <div ng-if="competenceprofile"  ui-view="competenceprofile" />
      </md-sidenav>
      <div flex-gt-sm="20" flex-sm="0"></div>
      <div flex-gt-sm="60" flex layout="column" layout-margin-layout-padding class="vertical-nudge-top ">
        <div ng-if="!groupProfiles" ui-view="competences" />
        <div ng-if="groupProfiles" ui-view="profiles" />
      </div>
      <md-sidenav class="md-sidenav-right md-sidenav-right-small md-whiteframe-z2" md-component-id="right" set-class-when-at-top="fix-to-top">
        <div ng-if="selected.ideducation" ui-view="viewEducation"/>
        <div ng-if="selected.idworkexperience" ui-view="viewWorkExperience"/>
        <div ng-if="selected.idmerit" ui-view="viewMerit"/>
        <div ng-if="selected.idskill" ui-view="viewSkill"/>
        <div ng-if="selected.idpublication" ui-view="viewPublication"/>
        <div ng-if="selected.idproject" ui-view="viewProject"/>
        <div ng-if="selected.idlanguage" ui-view="viewLanguage"/>
        <div ng-if="selected.idexperience" ui-view="viewExperience"/>
        <div ng-if="!selected" ui-view="resourcerequests"/>
      </md-sidenav>
      <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right-wide" set-class-when-at-top="fix-to-top">
        <div ng-if="!selected" ui-view="resourcerequests"/>
      </md-sidenav>
    </div>
</md-content>