<div ui-view="nav"></div>
<div ui-view="top"></div>
<div class="content profiletree">
  <div class="col-lg-8 col-centered wrapper">
    <header class="skills">
      <h1>Manage your skills</h1>
    </header>
    <div ng-repeat="skill in skills">
        <span ng-mouseover="hoverIn($index)" ng-mouseleave="hoverOut($index)">
          <i class="tile" ng-class="skill.icon" ng-show="!skill.showText"/>
          <i class="tile text" ng-show="skill.showText">{{ skill.title }}</i>
        </span>
    </div>
   
  </div>
</div>