<header ui-view="toolbar"></header>
<md-content layout="row">
	<div flex id="list-column" layout="column" layout-margin layout-padding>
		<md-toolbar md-theme="grey" id="tab-control" hide-gt-md flex>
			<div class="md-toolbar-tools">
				<span flex="10"/>
				<span class="tab-selector selected" flex="30" ng-click="togglePage()">My skills</span>
				<span class="tab-selector" flex="30" ng-if="activeSkill" ng-click="togglePage()">{{activeSkill.title}}</span>
			</div>
		</md-toolbar>
		<md-whiteframe class="md-whiteframe-2dp full-height" flex layout="column" show-gt-md flex >
			
			<div ng-if="!activeSkill" flex-md="10" flex-gt-md="10"></div>
			<div flex-gt-md="80" flex ng-cloak>
			  <md-grid-list
			  		ng-if="!activeSkill"
			        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
			        md-row-height-gt-md="1:1" md-row-height="6:1"
			        md-gutter="8px" md-gutter-gt-sm="4px" >
			    <md-grid-tile ng-repeat="tile in tiles"
			                  md-rowspan="{{tile.span.row}}"
			                  md-rowspan-sm="2"
			                  md-colspan="{{tile.span.col}}"
			                  md-colspan-sm="1"
			                  ng-class="tile.background" 
			                  ng-click="setActiveSkill(tile)"
			                  class="link-tile">
			      <md-icon class="fa fa-3x" md-font-icon="{{tile.icon}}"></md-icon>
			      <md-grid-tile-footer flex>
			      	<div layout="row" flex>
			      		<h3>{{tile.title}}</h3>
			      		<span flex/>
			      		<md-badge>{{tile.count}}</md-badge>
		      		</div>
			      </md-grid-tile-footer>
			    </md-grid-tile>
			  </md-grid-list>
<!--  -->
			  <md-grid-list
			  		ng-if="activeSkill"
			        md-cols="1" md-row-height="6:1"
			        md-gutter="8px">
			    <md-grid-tile ng-repeat="tile in tiles"
			                  md-rowspan="2"
			                  md-colspan="1"
			                  ng-class="tile.background" 
			                  ng-click="setActiveSkill(tile)"
			                  class="link-tile">
			    	<md-icon class="fa fa-2x" md-font-icon="{{tile.icon}}"></md-icon>
			     	<md-grid-tile-footer flex>
				      	<div layout="row" flex>
				      		<h3>{{tile.title}}</h3>
				      		<span flex/>
				      		<md-badge>{{tile.count}}</md-badge>
			      		</div>
				      </md-grid-tile-footer>
			    </md-grid-tile>
			  </md-grid-list>
			</div>
		</md-whiteframe>
	</div>
 <!--   -->
 	<!-- <div  flex> -->
 	<div hide="true" id="skill-column" show-gt-md layout-padding layout-margin layout="column" ng-if="activeSkill == skill" ng-repeat="skill in tiles" flex flex-gt-md="60">
 		<md-toolbar md-theme="grey" id="tab-control" hide-gt-md flex>
			<div class="md-toolbar-tools">
				<span flex="10"/>
				<span class="tab-selector selected" flex="30" ng-click="togglePage()">My skills</span>
				<span class="tab-selector" flex="30" ng-click="togglePage()">{{ activeSkill.title }}</span>
			</div>
		</md-toolbar>
		<md-whiteframe class="md-whiteframe-2dp"  ui-view="{{skill.name}}" layout="row" layout-padding layout-margin></md-whiteframe>	
	</div>
</md-content>
