<div ui-view="nav"></div>
<div ui-view="top"></div>
<div class="content login tree">

  <div class="col-lg-8 col-centered wrapper">
    <div class="col-lg-8">
      <header>
        <h1>Welcome to KnowBase</h1>
      </header>
      <h1 class="col-lg-8">In order to manage your CV and your competence profile, please <a ui-sref="login">login here!</a></h1>
    </div>
  </div>
  <div class="footer">
    <span>Not registered? <a ui-sref="signup" id="signup">Sign up now!</a></span>
  </div>
</div>
<div ui-view="news"></div>
<div ui-view="about"></div>
<div ui-view="contact"></div>