
<md-toolbar >
  <div class="md-toolbar-tools">
    <div flex-md-gt="10">
      
      <md-menu>
        <md-button class="md-icon-button" aria-label="menu" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon class="material-icons md-light">menu</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ui-sref="home">
              <md-icon class="material-icons">home</md-icon>
              Home
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="skills">
              <md-icon class="material-icons">flash_on</md-icon>
              Manage competences
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="profile">
              <md-icon class="material-icons">person_pin</md-icon>
              Profile
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button>
              <md-icon class="material-icons">insert_drive_file</md-icon>
              Generate CV
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <div flex="10">
      <h2>
        <span>KnowBase</span>
      </h2>
    </div>
    
    <span flex></span>
    <div layout="row">
      <md-button class="md-icon-button" ui-sref="search" aria-label="menu">
          <md-icon class="material-icons md-light md-36">search</md-icon>
      </md-button>
    </div>

    <div flex="30" layout="row">
      <div flex></div>
      <md-button aria-label="login" ui-sref="logout">
        <span class="white">Logout</span>
      </md-button>
    </div>
  </div>
</md-toolbar>

<md-toolbar ng-show="showSearch" md-theme="grey" class="md-primary">
  <div class="md-toolbar-tools">
    <span flex-gt-md flex-md="30" flex-md="0"></span>
    <div layout="row" flex="40">
      <md-input-container class="search-input slide-right" ng-class="animation" flex>
        <input type="text" focus-me="focusInput"/>
      </md-input-container>
      <md-button class="md-icon-button search-state" ng-click="toggleSearch()" aria-label="menu">
        <md-icon class="material-icons md-36">search</md-icon>
      </md-button>
    </div>
    <div flex="30"></div>
  </div>
</md-toolbar>
