
<md-toolbar ng-show="!showSearch">
  <div class="md-toolbar-tools">
    <div flex-md-gt="10">
      
      <md-menu>
        <md-button class="md-icon-button" aria-label="menu" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon class="material-icons md-light">menu</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ui-sref="home">
              <md-icon class="material-icons">home</md-icon>
              Home
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="skills">
              <md-icon class="material-icons">flash_on</md-icon>
              Manage competences
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="profile">
              <md-icon class="material-icons">person_pin</md-icon>
              Profile
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button>
              <md-icon class="material-icons">insert_drive_file</md-icon>
              Generate CV
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <div flex="10">
      <h2>
        <span>KnowBase</span>
      </h2>
    </div>
    
    <span flex></span>
    <md-button class="md-icon-button" ng-click="toggleSearch(); focusInput=true" aria-label="menu">
        <md-icon class="material-icons md-light md-36">search</md-icon>
    </md-button>
    <!-- <div layout="row"> -->
    <md-fab-speed-dial ng-cloak md-open="languageMenuOpen" md-direction="left"
                         ng-class="'md-scale'">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary">
          <h2>{{locale}}</h2>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button ng-repeat="item in locales" aria-label="{{item.display}}" ng-click="setLocale(item)" class="md-fab md-raised md-mini">
          {{item.display}}
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
    <!-- </div> -->
    
    <md-button aria-label="login" ui-sref="logout">
      <span class="white">Logout</span>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar ng-show="showSearch" md-theme="grey" class="md-hue-1">
  <div class="md-toolbar-tools">

    
    <span flex-gt-md flex-md="10" flex-md="0"></span>
    <md-input-container class="search-input slide-right" ng-class="animation" flex>
      <!-- <label>Name</label> -->
      <input type="text" focus-me="focusInput"/>
    </md-input-container>
    <md-button class="md-icon-button" ng-click="toggleSearch()" aria-label="menu">
      <md-icon class="material-icons md-36">search</md-icon>
    </md-button>
    <md-button aria-label="login" ui-sref="logout">
      <span>Logout</span>
    </md-button>
  </div>
</md-toolbar>
