

<div class="full-height" layout="column" flex ng-if="!workExperience">
	
	
	<md-list ng-cloak>
		<div layout="row">
		  	<md-subheader  flex class="md-no-sticky">{{title}}</md-subheader>
		  	<md-button ng-if="!workExperience" class="md-fab md-accent" ng-click="newWorkExperience()" aria-label="New WorkExperience">
		        <md-icon md-font-icon="fa-plus" class="fa fa-lg white" ></md-icon>
		    </md-button>
		</div>
	  	<md-list-item class="md-3-line secondary-button-padding" ng-repeat="workExperience in workExperiences" ng-click="editWorkExperience(workExperience)">
	    	<md-icon md-font-icon="fa-suitcase" class="fa fa-lg avatar md-avatar-icon"></md-icon>
    		<div class="md-list-item-text" >
      			<h3> {{ workExperience.title }} </h3>
      			<p> {{ workExperience.employer }}</p>
      			<p ng-if="workExperience.startdate || workExperience.enddate"> {{workExperience.startdate | date : 'yyyy-MM'}} - {{workExperience.enddate | date : 'yyyy-MM'}} </p>
    		</div>
	  	</md-list-item>

	</md-list>
</div>

<div class="full-height" layout="column" flex ng-if="workExperience">
	<div flex layout="row">
    	<span flex="33">
    		<md-button class="md-button-small" ng-click="cancelWorkExperience()">
    			<md-icon md-font-icon="fa-arrow-right" class="fa"></md-icon>
    		</md-button>
    		<span flex/>
    	</span>
    	<md-icon flex="33" md-font-icon="fa-suitcase center" class="fa fa-3x"></md-icon>
    	<span flex/>
        <md-button ng-if="workExperience.idworkexperience" class="md-button-small" ng-click="deleteRecord()">
            <md-icon md-font-icon="fa-trash-o" class="fa fa-lg"></md-icon>
        </md-button>
	</div>
	<form flex layout-margin layout-padding flex ng-submit="saveWorkExperience()" name="workExperienceForm">
		
		<md-autocomplete flex required
            md-input-name="titleAutoComplete"
            md-min-length="0"
            md-input-maxlength="64"
            md-input-minlength="0"
            md-no-cache="false"
            md-selected-item="selectedTitle"
            md-search-text="titleSearchText"
            md-items="item in titleQueryFilter(titleSearchText)"
            md-item-text="item.display"
            md-floating-label="{{titleLabel}}"
            md-selected-item-change="titleSelectChanged(item)"
            md-search-text-change="titleSearchTextChanged(titleSearchText)"
            md-select-on-match="true">
          <md-item-template>
            <span md-highlight-text="titleSearchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
        </md-autocomplete>	
        <md-autocomplete flex required
            md-input-name="employerAutoComplete"
            md-min-length="0"
            md-input-maxlength="64"
            md-input-minlength="0"
            md-no-cache="false"
            md-selected-item="selectedEmployer"
            md-search-text="employerSearchText"
            md-items="item in employerQueryFilter(employerSearchText)"
            md-item-text="item.display"
            md-floating-label="{{employerLabel}}"
            md-selected-item-change="employerSelectChanged(item)"
            md-search-text-change="employerSearchTextChanged(employerSearchText)"
            md-select-on-match="true">
          <md-item-template>
            <span md-highlight-text="employerSearchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
        </md-autocomplete>
		
		<md-input-container class="md-block md-icon-float">
			<label>{{descriptionLabel}}</label>
			<textarea rows="6" md-maxlength="512" type="text" name="description" ng-model="workExperience.description"></textarea>
		</md-input-container>
		<div layout="row">

            <am-date-picker flex ng-model="workExperience.startdate"
                    am-input-date-format="L"
                    am-input-label="{{startdateLabel}}"
                    am-today-button="Today"
                    am-show-input-icon="true">
            </am-date-picker>
            <am-date-picker flex ng-model="workExperience.enddate"
                am-input-date-format="L"
                am-input-label="{{enddateLabel}}"
                am-today-button="Today"
                am-show-input-icon="true">
            </am-date-picker>
        </div>


		<div layout="row" class="vertical-nudge-top">
        	<!-- <div flex="33" flex="20"></div> -->
            <md-button type="submit" class="md-raised md-primary" flex>Save work experience</md-button>
      	</div>
	</form>
</div>