@color-primary: #512DA8;
@color-hue-1: #B39DDB;
@color-hue-2: #7E57C2;
@color-hue-3: #7C4DFF;
@color-hue-4: #311B92;

@font-face {
    font-family: Gidole;
    src: url('../fonts/GidoleFont/Gidole-Regular.ttf');
}

body {
    font-family: Gidole;
}

[scroll]{
    position: fixed;
    top: 0;
}

[md-header-top]{
    position: relative;
    height:0; 
    padding-bottom: 25%;
    overflow:hidden;
    background-color: @color-primary;
}

/*.info-tile{
    height: 350px;
}*/

.page-tile{
    min-height: 50vh;
}

.huge{
    font-size: 4em;
}
.white{
    color: #FFF !important;
}

.search-input{
    padding: 2px !important;
}

.full-height{
    height: 100vh;
}

.vertical-align-top{
    margin-top: 20%;
}

.vertical-align-bottom{
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.vertical-nudge-top{
    margin-top: 4%;
}


.vertical-nudge-bottom{
    margin-bottom: 4%;
}

.center{
    text-align: center;
}

md-content.md-primary{
    background-color: #F5F5F5;
}

a.primary{
    color: @color-primary;
    font-weight: bold;
    text-decoration: none;
    &:visited{
        color: @color-hue-4;
        text-decoration: none;
    }
    &:active{
        color: @color-hue-2;
        text-decoration: none;
    }
    &:hover{
        color: @color-hue-2;
        text-decoration: none;
    }
}

.primary{
    color: @color-primary;
}

md-card-title{
    height: auto;
}

md-icon{
    height: auto;
}

.circle {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: white;
}
.md-button.md-fab.btn-huge{
    width: 120px;
    height: 120px;
    margin-left: -60px;
}