@color-primary: #512DA8; /*700*/
@color-hue-1: #B39DDB; /*200*/
@color-hue-2: #7E57C2; /*400*/
@color-hue-3: #673AB7; /*500*/
@color-hue-4: #4527A0; /*800*/

@color-accent-primary: #FFA000;
@color-accent-hue-1: #FFE082;
@color-accent-hue-2: #FFCA28;
@color-accent-hue-3: #FFB300;
@color-accent-hue-4: #FF8F00;

@font-face {
    font-family: Gidole;
    src: url('../fonts/GidoleFont/Gidole-Regular.ttf');
}

body {
    font-family: Gidole;
}

[scroll]{
    position: fixed;
    top: 0;
}

[md-header-top]{
    position: relative;
    height:0; 
    padding-bottom: 25%;
    overflow:hidden;
    background-color: @color-primary;
}

/*.info-tile{
    height: 350px;
}*/

.page-tile{
    min-height: 50vh;
}

.huge{
    font-size: 4em;
}
.white{
    color: #FFF !important;
}

.search-input{
    padding: 2px !important;
}

.full-height{
    height: 100vh;
}

.vertical-align-top{
    margin-top: 20%;
}

.vertical-align-bottom{
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.vertical-nudge-top{
    margin-top: 4%;
}


.vertical-nudge-bottom{
    margin-bottom: 4%;
}

.center{
    text-align: center;
}

md-content.md-primary{
    background-color: #F5F5F5;
}

a.primary{
    color: @color-primary;
    font-weight: bold;
    text-decoration: none;
    &:visited{
        color: @color-hue-4;
        text-decoration: none;
    }
    &:active{
        color: @color-hue-2;
        text-decoration: none;
    }
    &:hover{
        color: @color-hue-2;
        text-decoration: none;
    }
}

.primary{
    color: @color-primary;
}

md-card-title{
    height: auto;
}

md-icon{
    height: auto;
}

.circle {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: white;
}
.md-button.md-fab.btn-huge{
    width: 120px;
    height: 120px;
    margin-left: -60px;
}

md-grid-tile.hue-1 {
    background-color: @color-hue-1;
}

md-grid-tile.hue-2 {
    background-color: @color-hue-2;
}

md-grid-tile.hue-3 {
    background-color: @color-hue-3;
}

md-grid-tile.hue-4 {
    background-color: @color-hue-4;
}

md-grid-tile.accent{
    background-color: @color-accent-primary;
}

md-grid-tile.link-tile{
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}